<section class="hero is-one-fifth-desktop has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div>
                    <p class="is-size-5">Here are some of the languages I know. On a desktop, hovering over the icons will show some details about my experience.</p>
                    <div style="text-align:left;">
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have lots of Python experience from my 2nd co-op job, where my primary roll was to write automated Python tests. I also used Tensorflow, which is Python based, during my first co-op.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">For my first co-op I worked as a software developer where I worked almost entirely in C#.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I learned Java in first year and I am currently using it in a software testing course.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I learned C in the first programming course I took at UVic.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">Used C++ briefly during my first co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">Almost all the personalization done on this website was through HTML.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">Had to learn a bit about CSS to make some changes to this website.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I took a Codecademy course on JavaScript during July, 2022.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I've used MATLAB thoughout many Math and ECE courses I've taken at UVic.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/markdown/markdown-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">Don't know if this is considered a programming language, but I think I'm fairly decent with Markdown.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>