<section class="hero is-one-fifth-desktop has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div>
                    <p class="is-size-5">Here are some other software frameworks, tools and programs that I have used:</p>
                    <div style="text-align:left;">
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-plain.svg" height="80" width="80"/>
                            <span class="tooltiptext">I've used Flutter when developing the app CanPlan and for my golf scorecard app.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">Currently, my golf scorecard app uses an SQLite database to reliably keep track of scores.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">I used used Django during co-op jobs.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have created and trained TensorFlow models for voice cloning purposes during my first co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I use GitHub to host all my repositories for personal projects and school. Also, this website is hosted through GitHub Pages.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have used Git extensively for tracking my personal projects and I also used it daily during my second co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I am experienced with alot of the features in Azure DevOps, and I also have some experience with Azure Cloud Servers.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have lots of experience using Docker containers during all of my co-op work terms.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p style="size:20px; text-align:left;" >All icons are from devicon.dev</p>
</section>
