<section class="hero is-one-fifth-desktop has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div>
                    <p class="is-size-5">Here are some other software frameworks, tools and programs that I have used:</p>
                    <div style="text-align:left;">
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" height="80" width="80"/>
                            <span class="tooltiptext">I used Django a bit during my second co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">During my first co-op job, I used the TensorFlow based software TacoTron to create an AI voice clone model.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I use GitHub to host all my repositories for personal projects and school. Also, this website is hosted through GitHub Pages.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have used Git extensively for tracking my personal projects and I also used it daily during my second co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">My software testing class uses GitLab to manage repositories.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I am experienced with alot of the features in Azure DevOps, and I also have some experience with Azure Cloud Servers.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I learned how to use Docker during my second co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain.svg" height="80" width="80"/>
                            <span class="tooltiptext">I'm very experienced with both Visual Studio and VSCode.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">While I'm mainly a Windows guy, I have used Linux before and am experienced with the Linux shell.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p style="size:20px; text-align:left;" >Disclaimer: All icons are from devicon.dev</p>
</section>
