<section class="hero is-one-fifth-desktop has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div>
                    <p class="is-size-5">Here are some of the languages I know. On a desktop, hovering over the icons will show some details about my experience.</p>
                    <div style="text-align:left;">
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dart/dart-original-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have lots of experience with dart, as I have made multiple apps with the framework Flutter.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have lots of Python experience creating Python programs for school, work and personal projects.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have extensive experience with C# that I got during my first co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">I have used Java in numerous courses .</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">I learned C in the first programming course I took at UVic.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" height="80" width="80"/>
                            <span class="tooltiptext">Used C++ briefly during my first co-op job.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">Almost all the personalization done on this website was through HTML.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" height="80" width="80"/>
                            <span class="tooltiptext">Had to learn a bit about CSS to make some changes to this website.</span>
                        </div>
                        <div class="tooltip">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="80" width="80"/>
                            <span class="tooltiptext"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>